.app {
  border: 1px solid #000;
  max-width: 800px;
  text-align: center;

  .nav {
    border: 1px solid #000;
  }

  .main {
    border: 1px solid #000;
  }

  .footer {
    border: 1px solid #000;
  }
}

.app-header {
  align-items: center;
  background-color: #282c34;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.app-link {
  color: #61dafb;
}
